.limited-width-table {
    width: 50%;
    overflow-x: auto;
}

.wy-nav-content {
    max-width: 100% !important;
}

.math {
  font-size: large;
}

/* Add vertical spacing between documented functions */
.doc.doc-object.doc-function {
  margin-top: 1.5em;
}

